* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

a {
    color: #FFF;
}

.wrapper {
    width: 100%;
    height: 550px;
}

.conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.imagem-celular img {
    width: 350px;
    height: 550px;
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    padding: 30px;
    background-color: #000;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #222;
}

.grupo:nth-child(3) {
    border: none;
}

/*Cor site*/
#botao-toogle {
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

#botao-toogle > label {
    background-color: #577990;
    display: block;
    height: 20px;
    width: 44px;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

#botao-toogle > label::after {
    position: absolute;
    display: block;
    top: -3px;
    left: -2px;
    width: 26px;
    height: 26px;
    background-color: #3498db;
    content: "";
    transition: 0.3s;
    border-radius: 100px;
}

#botao-toogle > label:active::after {
    transform: scale(1.15, 0.85);
}

#botao-toogle > input:checked ~ label {
    background-color: #577990;
}
#botao-toogle > input:checked ~ label::after {
    left: 20px;
    background-color: #3498db;
}

#botao-toogle > input {
    display: none;
}


/*Ãrea login*/

.login-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
}

#logo {
    width: 200px;
}

.botoes, .botoes input {
    width: 100%;
    color: #000;
    padding: 12px;
    border-radius: 3px;
    border: none;
    margin-bottom: 8px;
}

.botoes{
    padding: 0;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.botoes input:nth-child(3) {
    margin-top: 8px;
    background-color: #3498DB;
    font-weight: bold;
}

.botoes .botao-submit:hover {
    background-color: #79b4db;
    cursor: pointer;
}

.entrar {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entrar-facebook {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.entrar-facebook, .entrar-facebook a {
    background-position: center left;
    color: #3498db;
    font-weight: bold;
    
}

.entrar-facebook i {
    font-size: 16px;
    margin-right: 5px;
}

.entrar > a {
    margin-top: 15px;
}

#cadastro {
    color: #3498db;
    font-weight: bold;
}

.app-download {
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 8px;
}

.app-download-play-store {
    width: 50%;
}

.app-download-store {
    width: 50%;
}

.app-download-play-store img, .app-download-store img {
    width: 120px;
    height: 40px;
    border: 1px solid #222;
        border-radius: 5px;
}

/*Responsivo*/
@media screen and (max-width: 719px) {
    .imagem-celular {
        display: none;
    }

    body {
        background-color: #000;
    }
}

@media screen and (max-width: 380px) {
    .grupo {
        border: none;
    }
}
